.contacts {
	text-align: center;
	font-size: 30px;
	width: 500px;
}

.contacts input {
	display: block;
	margin-bottom: 20px;
	border: 1px solid black;
	height: 20px;
	width: 250px;
	border-radius: 100px;
	padding-left: 10px;
	color: black;
	margin-left: 120px;
}

button{
	height: 40px;
	width: 250px;
	background-color: orange; 
	border-radius: 100px;
	font-size: 20px;
	border: 1px solid brown;
	cursor: pointer;
	transition: all 0.5s ease;
	color: white;
}

button:hover {
	background-color: brown;
}