
/*CSS of Header Section*/

.header {
	padding: 25px 22px 30px 50px;
	display: flex;
	justify-content: space-between;
}

.header p {
	margin-top: 35px;
	font-family: Ubuntu;
	font-size: 20px;
	letter-spacing: -1px;
}

nav {
	height: 38px;
}

nav ul {
	padding-right: 62px;
	text-align: right;
	padding-top: 10px;
	margin-top: -16px;
}

nav ul li {
	display: inline;
}

nav ul li a {
	color: white;
	text-decoration: none;
	margin-left: 10px;
}

/*CSS of Main section*/

h1 {
	font-size: 2.5em;
	width: 325px;
	text-align: center;
	margin: auto;
	padding-top: 41px;
	padding-bottom: 70px;
}

.phone img {
	margin: auto;
}

.phone p{
	font-weight: bold;
	margin-top: -5px;
	width: 98%;
	font-size: 1.5em;
}

.otherNews {
	columns: 2;
	width: 80%;
	height: 21em;
}

.otherNews img:nth-child(3) {
	width: 95%;
	margin-right: -20px;
}

.otherNews img:nth-child(1){
	width: 95%;
	margin-left: -20px;
}

.otherNews p {
	font-size: 1em;
}

/*CSS of the Footer*/

footer {
	padding: 15px;
	font-family: Ubuntu;
}






